@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");

.App {
	text-align: center;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	min-height: 100dvh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.font1 {
	font-family: "Chelsea Market", system-ui;
	font-weight: bold;
	font-style: normal;
}

.bg-darkblue {
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(167, 16, 166, 1) 53%, rgba(0, 212, 255, 1) 100%);
}

.footer {
	color: white;
	padding-block: 0.8em;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	background: #ffffff1a;
	border: 1px solid #ffffff20;
	backdrop-filter: blur(0.3em) saturate(120%);
	width: 100%;
}

.welcome {
	font-weight: bold;
	font-size: 8vw;
	margin-top: 0.5em;
}

.welcome-text,
.subtext {
	background: rgb(245, 92, 122);
	background: linear-gradient(
		145deg,
		rgba(245, 92, 122, 1) 30%,
		rgba(246, 140, 112, 1) 50%,
		rgba(246, 188, 102, 1) 70%
	);
	background-clip: text;
	color: transparent;
}

.subtext {
	font-size: 3vw;
	font-weight: bold;
}

.button {
	background-image: linear-gradient(to right, #00c6ff 0%, #0072ff 51%, #00c6ff 100%);
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	display: block;
	border-color: white;
}

.button:hover {
	background-position: right center;
	color: #fff;
	text-decoration: none;
}

.weatherCard {
	color: black;
	width: 75%;
	margin: 1em auto;
	padding-bottom: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
	border: 1px solid rgba(255, 255, 255, 0);
	border-radius: 60px;
	box-shadow: 0px 0px 3em 0.3em #ffffff;
	background-color: rgb(140, 143, 143, 0.5);
	margin-top: 3em;
}

.cityName {
	font-size: 2.5em;
	font-weight: 700;
}

.cardSub {
	font-size: 1.7em;
}

@media screen and (max-width: 767px) {
	.cardSub {
		row-gap: 1em;
	}
}

.bg-sun {
	background-image: url(./assets/Sun.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.bg-snow {
	background-image: url(./assets/Snow.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.bg-cloud {
	background-image: url(./assets/Cloud.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.bg-rain {
	background-image: url(./assets/Rain.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.logo1 {
	cursor: pointer;
}
