@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.App {
	text-align: center;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

body {
	background: rgb(255, 255, 255);
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 1) 0%,
		rgba(57, 255, 243, 1) 50%,
		rgba(109, 157, 205, 1) 100%
	);
}

.bg-darkblue {
	background-color: darkblue;
}

.footer {
	margin-top: 5em;
	padding-block: 1em;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}

.welcome {
	font-weight: bold;
	font-size: 6em;
}

.welcome-text {
	background-image: url("./assets/taylor-van-riper-yQorCngxzwI-unsplash.jpg");
	background-size: cover;
	background-clip: text;
	color: transparent;
}

.button {
	background-color: white;
	color: darkblue;
	border-radius: 1em;
	border: 1px solid darkblue;
	transition: 0.5s;
}

.button:hover {
	color: white;
	background-color: darkblue;
}
