.App {
	text-align: center;
	box-sizing: border-box;
}

* {
	background-image: url("./assets/taylor-van-riper-yQorCngxzwI-unsplash.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
